##Import RHD RC
#For Fingerprint
import /vendor/etc/init/hw/init.fingerprint.${ro.boot.fp}.rc
import /vendor/etc/init/hw/init.audio.smartamp.rc
import /vendor/etc/init/hw/init.audio.fqc.rc
import /vendor/etc/init/hw/init.nfc.sec.rc

# SW4-HL-Display-ImplementCECTCABC-00+_20160126
import /vendor/etc/init/hw/init.lcm.rc

#For fih modem ssr and ramdump meahanism porting
import /vendor/etc/init/hw/init.fih.ramdump.rc

# HCLai add for ALT
import /vendor/etc/init/hw/init.alt.rc

on early-boot
  setprop debug.ftm.mixerpath /vendor/etc/mixer_paths_rhd.xml

# RSU Kinibi functions
import /vendor/etc/init/hw/init.trustonic.rc
